.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.content {
  display: flex;
  align-items: center;
  justify-self: start;
  gap: 8px;
}

.actions {
  display: flex;
  align-items: center;
  justify-self: end;
  gap: 8px;
}