.tripleToggleSwitchContainer {
    display: flex;
    flex-direction: column;
}

.tripleToggleSwitchContainer label {
    margin-bottom: 8px;
}

.tripleToggleSwitchContainer>div {
    position: relative;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
}

.option {
    white-space: nowrap;
    padding: 7px 16px;
    text-align: center;
    cursor: pointer;
    transition: color 0.3s;
    position: relative;
    z-index: 2;
}

.option:hover {
    opacity: 0.8;
}

.option:not(.active):hover {
    background-color: #e0e0e0;
}

.active {
    color: white;
}

.slider {
    position: absolute;
    top: 0;
    height: 100%;
    background-color: #007bff;
    transition: left 0.3s ease, width 0.3s ease;
    z-index: 1;
    border-radius: 3px;
}